<h1 class="text-white text-center">Dobít kredit</h1>
<div class="d-flex justify-content-center text-white">
	<form id="myForm" method="post" asp-action="ShowQrcode" style="width:20rem">
		<div class="form-group  ">
		 
			<input type="number"  class="form-control" name="amount" placeholder="Zadejte částku" required/>
			<button class="btn btn-success w-100 mt-2" type="submit">Potvrdit</button>
		</div>
	</form>
</div>