@{
	ViewData["Title"]="O mě";
}
<div class="row justify-content-center align-items-center">
	<div class="  text-black shadow  p-3 mt-5 bg-warning bg-gradient  rounded-3" style=" max-width:40rem">
		<h1 class="  text-center ">@ViewData["Title"]</h1>
		<div class="d-flex justify-content-center align-items-center">
			<p style="white-space: pre-line;width:30rem;text-align: justify;" class=" m-5">Jmenuji se Gabriela Daniszová, je mi 53 let a jsem hrdou občankou obce Pržno, a to od roku 2009.
		 
				Moje dětství, dospívání a mládí bylo spojeno s pohybem, a to moderní a sportovní gymnastikou, baletem, rytmickou průpravou, ale i tenisem, basketbalem, volejbalem a lyžováním.
		 
				Přišla jsem na chuť také klidnému cvičení jógy a zamilovala jsem si jógu hormonální. Zejména pro její účinky a ladnost pohybu.
			 
				Celý profesní život se pohybuju v mužském světě manažerů a podnikatelů, a proto miluju břišní a orientální tanec a tanec vůbec.
			 
				A toto všechno obsahují lekce, které cvičím pro radost svoji i žen, které se mají chuť hýbat. Lekce jsou určeny pro ženy každého věku a postavy!
			 
				Přijď mezi nás.....nuda s námi není......
		 
				Vaše Gabka
			</p>
		</div>
	</div>
</div>
