@{
    ViewData["Title"] = "Návod";
}
<h1 class="text-white text-center">@ViewData["Title"]</h1>
<div class="row justify-content-center align-items-center">
	<ol class="list-group list-group-numbered p-0 text-center">
        <li class="list-group-item list-group-item-dark ">Nejprve se na přihlašovací stránce zaregistrujte                </li>
        <li class="list-group-item list-group-item-light">Poté počkejte až Vám účet administrátor aktivuje                </li>
        <li class="list-group-item list-group-item-dark ">O aktivaci účtu Vám přijde zpráva do emailu, kde naleznete heslo</li>
        <li class="list-group-item list-group-item-light">Po aktivaci účtu, se zde můžete přihlásit defaultním heslem     </li>
        <li class="list-group-item list-group-item-dark ">Po prvním přihlášení Vás systém donutí změnit defaultní heslo   </li>
        <li class="list-group-item list-group-item-light">Po změně hesla, již můžete rezervovat lekce na jednotlivé dny   </li>
 
</ol>
    <img src='../images/navodDesktop.jpg' class="img-thumbnail mt-2 d-none d-xl-block" alt="...">
	<img src='../images/navodMobil.jpg' class="img-thumbnail mt-2 d-xl-none" alt="...">
</div>