
@model string

<h1>Create a Role</h1>

<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="custom-validation-summary"></div>
<div class="d-flex justify-content-center">
    <form asp-action="Create" method="post" style="width:20rem">
    <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" class="form-control" required/>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form> 
</div>