@{
	ViewData["Title"]="Zapomenuté heslo";

}
@using Zumba.ViewModels
 @model ForgotPasswordVM


<h1 class="text-center text-white mb-2">Zadejte email</h1>


<div asp-validation-summary="All" class="text-danger d-flex justify-content-center"></div>
<form asp-action="ForgotPassword" method="post">
	<div class="d-flex flex-column justify-content-center  align-items-center">

		<div class="form-group text-white  my-3">
			<label asp-for="Email"></label>
			<input type="email"  asp-for="Email" class="form-control" required />
		 
		</div>

		<div class=" mb-3">
			<button class="btn btn-warning  w-100" type="submit">Odeslat</button>
		</div>

	</div>
</form>