@using Zumba.ViewModels
 
@model ResetPasswordVM
@{
	ViewData["Title"]="Reset hesla";

}



<h4 class=" text-center text-white my-4">Zadejte nové heslo</h4>

<div asp-validation-summary="All" class="text-danger d-flex justify-content-center"></div>
<form asp-action="ResetPassword" method="post">
	<input asp-for="Token" hidden />
	<input asp-for="Email" hidden />
	<input type="hidden" value=" " />
	<div class="d-flex flex-column justify-content-center  align-items-center">
		<div class="form-floating col-12 col-md-5  mb-3 ">
			<input asp-for="Password" class="form-control  " id="password" required>
			<label for="password">Heslo</label>
		</div>
		<div class="form-floating col-12 col-md-5  mb-3 ">
			<input asp-for="ConfirmPassword" class="form-control  " id="confirmPassword" required>
			<label for="confirmPassword">Potvrzení hesla</label>
		</div>


		<div class=" col-12 col-md-5  mb-3 ">
			<button class="btn btn-warning w-100  " type="submit">Uložit</button>
		</div>
	</div>
</form>
</div>
